#benefits {
  position: relative;
  background: url("../../img/decor/bg-leaf2.png") left top 75% no-repeat;

  @include tablets {
    background-position: left top 57% no-repeat;
  }

  &:before {
    content: url("../../img/decor/berries-and-bars.png");
    position: absolute;
    bottom: rem(-180px);
    left: 0;
  }
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:before {
    content: url("../../img/decor/dots.png");
    position: absolute;
    top: rem(30px);
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &:before {
      display: none;
    }
  }
}