.hero {
  background: url("./img/decor/bg-leaf1.png") right bottom no-repeat;
  background-color: $blue;
  color: #fff;
  height: 100vh;
  min-height: 650px;
  position: relative;

  &:before {
    position: absolute;
    bottom: -40px;
    left: 2%;
    content: url(./img/decor/corner-leaf.png);
  }

  &:after {
    position: absolute;
    content: url(./img/decor/leaves1.png);
    bottom: -40px;
    right: 0;
  }
}

.hero__container {
  background: url("./img/decor/chocolates.png") right center / 50% auto no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0 45px;
  height: 100%;
}

.hero__title-section {
  width: 46%;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 40px;
  padding-right: 20%;
}