.hero {
  background: url("../../img/decor/bg-leaf1.png") right bottom no-repeat;
  background-color: $blue;
  color: #fff;
  height: 100vh;
  min-height: rem(650px);
  position: relative;

  @include tablets {
    background-position: right bottom 88%;
  }

  &:before, &:after {
    @include tablets {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: rem(-47px);
    left: 2%;
    content: url(../../img/decor/corner-leaf.png);
  }

  &:after {
    position: absolute;
    content: url(../../img/decor/berries-and-leaves.png);
    bottom: rem(-0px);
    right: 0;
  }
}

.hero__container {
  background: url("../../img/decor/chocolates.png") right center / 50% auto no-repeat;
  display: flex;
  flex-direction: column;
  padding: rem(24px) 0 rem(45px);
  height: 100%;

  @include tablets {
    background: none;
  }
}

.hero__title-section {
  width: 46%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before {
      content: url(../../img/decor/hero-bars.png);
      margin-bottom: rem(16px);
    }
  }
}

.hero__main-title {
  font-size: rem(48px);
  line-height: 1,1;
  font-weight: bold;
  margin-bottom: rem(30px);
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(26px);
  padding-right: 24%;

  @include tablets {
    padding: 0 26%;
  }
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}