//variables 
$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$blue: #61C4D9;
$darkGreen: #365A49;

//z-indexes
$z-fixed-menu: 100;

//normalise 
@import "../normalize.css";

// setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');
@import "./layout.scss";

//components 
@import "./hero.scss";
@import "./header.scss";
@import "./features.scss";
@import "./feature.scss";
@import "./btn.scss";
@import "./section.scss";
@import "./headline.scss";
@import "./benefits.scss";
@import "./benefit.scss";
@import "./benefits-section.scss";
@import "./reviews.scss";
@import "./interactive-avatar.scss";
@import "./form.scss";
@import "./order-section.scss";
@import "./radio.scss";
@import "./fixed-menu.scss";
@import "./map-section.scss";





