.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font--color--green {
    color: $darkGreen;

    .section__title {
      color: inherit;
    }
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(60px);
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}